<div class="container">
  <div class="row">
    <div class="list-group" >
      <h3 class="list-group-item">索引类型</h3>
      <a ng-href="#/users" class="list-group-item">代理人<i class="icon icon-2x icon-angle-right pull-right"></i></a>
      <a ng-href="#/groups/company/公司" class="list-group-item">公司<i class="icon icon-2x icon-angle-right pull-right"></i></a>
      <a ng-href="#/groups/industry/行业" class="list-group-item">行业<i class="icon icon-2x icon-angle-right pull-right"></i></a>
      <a ng-href="#/groups/skilledAt/擅长领域" class="list-group-item">擅长领域<i class="icon icon-2x icon-angle-right pull-right"></i></a>
    </div>
  </div>
</div>

