<div class="container">
  <form name="registerForm">
    <div class="row" style="margin-top: 10rem">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="icon-user"></i></span>
          <input type="text" class="form-control form-input" name="phoneNum" ng-pattern="constants.REGEX.PHONENUM" ng-model="register.phoneNum" placeholder="手机号" required>
          <span class="form-success" ng-show="verifiy.success(registerForm.phoneNum)"><i class="icon-check"></i></span>
          <span class="form-error" ng-show="verifiy.error(registerForm.phoneNum)">
            <i class="icon-times"></i>
          </span>
        </div>
      </div>
      <div class="col-xs-1">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-10">
        <div class="input-group">
          <span class="input-group-addon fix-border"><i class="icon-key"></i></span>
          <input type="password" class="form-control form-input" name="passWd" ng-pattern="constants.REGEX.PASSWORD" ng-model="register.passWd" placeholder="密码" required>
          <span class="form-success" ng-show="verifiy.success(registerForm.passWd)"><i class="icon-check"></i></span>
          <span class="form-error" ng-show="verifiy.error(registerForm.passWd)"><i class="icon-times"></i></span>
        </div>
      </div>
      <div class="col-xs-1">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-1">
      </div>
      <div class="col-xs-10">
        <div class="input-group">
          <span class="input-group-addon fix-border"><i class="icon icon-repeat"></i></span>
          <input type="password" class="form-control form-input" name="repeatPassWd" ng-model="register.repeatPassWd" placeholder="确认密码" required>
          <span class="form-success" ng-show="verifiy.success(registerForm.repeatPassWd)"><i class="icon-check"></i></span>
          <span class="form-error" ng-show="verifiy.error(registerForm.repeatPassWd)"><i class="icon-times"></i></span>
        </div>
      </div>
      <div class="col-xs-1">
      </div>
    </div>
    <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10">
      <button class="btn btn-block btn-primary" type="button" ng-click="regist()">提交</button>
    </div>
    <div class="col-xs-1">
    </div>
  </div>
  </form>
</div>

