<div class="container">
  <div class="row">
    <div class="list-group">
      <!----list start---->
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">李璐希</h4>
        <div class="row">
          <div class="col-sm-6">
            <p class="list-group-item-text text-muted">13793119180</p>
          </div>
          <div class="col-sm-6">
            <p class="list-group-item-text text-muted">中国移动</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="list-group-item-text text-muted">
              亲亲阿门
            </p>
          </div>
        </div>
      </a>
      <!---list end----->
      <!----list start---->
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">李璐希</h4>
        <div class="row">
          <div class="col-sm-6">
            <p class="list-group-item-text text-muted">13793119180</p>
          </div>
          <div class="col-sm-6">
            <p class="list-group-item-text text-muted">中国移动</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="list-group-item-text text-muted">
              亲亲阿门
            </p>
          </div>
        </div>
      </a>
      <!---list end----->
      <!----list start---->
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">李璐希</h4>
        <div class="row">
          <div class="col-sm-6">
            <p class="list-group-item-text text-muted">13793119180</p>
          </div>
          <div class="col-sm-6">
            <p class="list-group-item-text text-muted">中国移动</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="list-group-item-text text-muted">
              亲亲阿门
            </p>
          </div>
        </div>
      </a>
      <!---list end----->
      <!----list start---->
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">李璐希</h4>
        <div class="row">
          <div class="col-sm-6">
            <p class="list-group-item-text text-muted">13793119180</p>
          </div>
          <div class="col-sm-6">
            <p class="list-group-item-text text-muted">中国移动</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="list-group-item-text text-muted">
              亲亲阿门
            </p>
          </div>
        </div>
      </a>
      <!---list end----->
      <!----list start---->
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">李璐希</h4>
        <div class="row">
          <div class="col-sm-6">
            <p class="list-group-item-text text-muted">13793119180</p>
          </div>
          <div class="col-sm-6">
            <p class="list-group-item-text text-muted">中国移动</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="list-group-item-text text-muted">
              亲亲阿门
            </p>
          </div>
        </div>
      </a>
      <!---list end----->
    </div>
  </div>
</div>